provisioning/artifacts/*
!provisioning/artifacts/.gitkeep

populate-alb-tg-with-opensearch
!populate-alb-tg-with-opensearch/
populate-alb-tg-with-opensearch.zip

detach-task-to-be-terminated-from-nlb
!detach-task-to-be-terminated-from-nlb/
detach-task-to-be-terminated-from-nlb.zip

params/*
!params/create-params-dev.sh
!params/template.yaml