provisioning/artifacts/*
!provisioning/artifacts/.gitkeep

populate-alb-tg-with-opensearch
!populate-alb-tg-with-opensearch/
populate-alb-tg-with-opensearch.zip

detach-task-to-be-terminated-from-nlb
!detach-task-to-be-terminated-from-nlb/
detach-task-to-be-terminated-from-nlb.zip

provisioning/params/*
!provisioning/params/create-params-dev.sh
!provisioning/params/template.yaml

tests/load-test/ecs/filebeat/dummy-log-generator/dummy-log-generator

__pycache__